
$width: 100%;
$margin-top: 10px;
$font-size: 14px;

$widthform2: 50%;
$padding-left: 15px;

$widthrechercher: 30%;

table {
    width: $width;
    margin-top: $margin-top;
  }

  .mat-form-field {
    font-size: $font-size;
    width: $width;
  }

  .form2{
    font-size: $font-size;
    width: $widthform2;
    padding-left: $padding-left;
  }

  .rechercher{
    width: $widthrechercher;
  } 