

.bodylogin {
  display: flex;
  justify-content: center;
  height: 1400px ;
  align-items: center;
  background-color: rgba(36, 36, 112, 0.555);
}





.login {
  width: 100%;
  max-width: 330px;
  text-align: center;
  
}
.log {
  width: 100%;
}

button {
  height: 50px;
}

.spinner {
  margin: 0 auto;
}
