


$width: 100%;
$display: flex;
$justify-content: center;
$height: 1130px ;
$align-items: center;
$background-color: rgba(36, 36, 112, 0.555);

$max-width: 330px;
$text-align: center;

$heightbt: 50px;
$margin: 0 auto;

.bodylogin {
  display: $display;
  justify-content: $justify-content;
  height: $height ;
  align-items: $align-items;
  background-color: $background-color;
}

.login {
  width: $width;
  max-width: $max-width;
  text-align: $text-align;
  
}
.log {
  width: $width;
}

button {
  height: $heightbt;
}

.spinner {
  margin: $margin;
}
 