

$position: absolute;
$right: 0px;
$width: 50%;
$left: 50%;

$padding: 10px;

$border: solid black 1px;

@mixin  position() {
    position: $position;
    width: $width;
    padding: $padding;
}

.right {
    @include position();
    right: $right;
}

.left {
    @include position();
    left: $left;
}

p-dialog{
    border: $border;
} 