<div style="margin-bottom: 30px">
  <h2>Single Tree</h2>
  <p>Node reordering within a tree.</p>
  <p-tree
    [value]="files1"
    [draggableNodes]="true"
    [droppableNodes]="true"
    draggableScope="self"
    droppableScope="self"
    (onNodeDrop)="NodeDropList($event)"></p-tree>
</div>
<div>
  <div>
    <button
      type="button"
      (click)="showDialog()"
      pButton
      icon="pi pi-external-link"
      label="View"></button>
  </div>
  <div style="padding-top: 3px">
    <button
      type="button"
      (click)="shownewDialog()"
      pButton
      icon="pi pi-external-link"
      label="View 2"></button>
  </div>
</div>

<h2 style="margin-top: 10px">Multiple Trees</h2>
<p>Node reordering between multiple tree based on scope constraints.</p>
<div class="grid p-fluid">
  <div class="col-12 md:col-4">
    <h3>Files 2</h3>
    <p>Can transfer to Files 4.</p>
    <p-tree
      [value]="files2"
      dropCopyNode="true"
      [draggableNodes]="true"
      [droppableNodes]="true"
      droppableScope="files"
      draggableScope="server2"
      (onNodeDrop)="NodeDropList1($event)">
    </p-tree>
  </div>

  <div class="col-12 md:col-4">
    <h3>Files 3</h3>
    <p>Can transfer to Files 2.</p>
    <p-tree
      [value]="files3"
      dropCopyNode="true"
      [draggableNodes]="true"
      [droppableNodes]="true"
      droppableScope="server1"
      draggableScope="files"
      (onNodeDrop)="NodeDropList2($event)"></p-tree>
  </div>

  <div class="col-12 md:col-4">
    <h3>Files 2</h3>
    <p>Can transfer to Files 1.</p>
    <p-tree
      [value]="files4"
      dropCopyNode="true"
      [draggableNodes]="true"
      [droppableNodes]="true"
      droppableScope="server2"
      draggableScope="server1"
      (onNodeDrop)="NodeDropfile2($event)"></p-tree>
  </div>
</div>

<p-dialog
  header="Fenetre Serveur 1"
  [(visible)]="dialogVisible"
  [style]="{ border: 'solid rgb(175, 170, 170) 1px' }"
  [baseZIndex]="10000"
  [maximizable]="false"
  [modal]="false"
  [resizable]="true"
  position="center"
  [contentStyle]="{ height: '450px', width: '30vw' }"
  styleClass="p-fluid">
  <div class="left">
    <h3>Files 2</h3>
    <p>Can transfer to Server 2.</p>
    <p-tree
      [value]="files2"
      dropCopyNode="true"
      [draggableNodes]="true"
      [droppableNodes]="true"
      droppableScope="files"
      draggableScope="server2"
      (onNodeDrop)="NodeDropList1($event)">
    </p-tree>
  </div>
  <div class="right">
    <h3>Files 3</h3>
    <p>Can transfer to Files.</p>
    <p-tree
      [value]="files3"
      dropCopyNode="true"
      [draggableNodes]="true"
      [droppableNodes]="true"
      droppableScope="server1"
      draggableScope="files"
      (onNodeDrop)="NodeDropList2($event)"></p-tree>
  </div>
  <ng-template pTemplate="footer">
    <button
      type="button"
      pButton
      icon="pi pi-check"
      (click)="dialogVisible = false"
      label="Ok"
      class="p-button-text"></button>
  </ng-template>
</p-dialog>

<p-dialog
  header="Fenetre serveur 2"
  [(visible)]="dialogVisible2"
  [style]="{ border: 'solid rgb(175, 170, 170) 1px' }"
  [baseZIndex]="10000"
  [maximizable]="false"
  [modal]="false"
  [contentStyle]="{ height: '450px', width: '30vw' }"
  styleClass="p-fluid"
  [resizable]="true"
  position="right">
  <div class="left">
    <h3>Files 2</h3>
    <p>Can transfer to Server 2.</p>
    <p-tree
      [value]="files2"
      dropCopyNode="true"
      [draggableNodes]="true"
      [droppableNodes]="true"
      droppableScope="files"
      draggableScope="server2"
      (onNodeDrop)="NodeDropList1($event)">
    </p-tree>
  </div>
  <div class="right">
    <h3>File 4</h3>
    <p>Can transfer to Server 1.</p>
    <p-tree
      [value]="files4"
      dropCopyNode="true"
      [draggableNodes]="true"
      [droppableNodes]="true"
      droppableScope="server2"
      draggableScope="server1"
      (onNodeDrop)="NodeDropfile2($event)"></p-tree>
  </div>
  <ng-template pTemplate="footer">
    <button
      type="button"
      pButton
      icon="pi pi-check"
      (click)="dialogVisible2 = false"
      label="Ok"
      class="p-button-text"></button>
  </ng-template>
</p-dialog>
