
// @import './admin-dashboard/variables.scss';

:host ::ng-deep {
    .p-paginator {
        .p-paginator-current {
            margin-left: auto;
        }
    }
    .toolbars{
       padding-bottom: 10px;
    }
}

.ui-state-highlight {
    background: red;
  }

 .p-highlight {
    background: #0d64d5;
    color: #05070d;
}

.p-datatable .p-datatable-tbody > tr.p-highlight{
    background: #0d64d5 !important;
    color: #05070d !important;
}

  

// :host ::ng-deep {
//     #dt {
//       .p-body:hover {
//         background-color: red;
//       }
//     }
//   } 