

$font-text: 'Noto Sans', 'Open Sans', sans-serif;
$height: 1390px;
$width: 150px;


mat-drawer-container {
  height: $height; 
}

#dr {
  width: $width;
}

.main-content {
  // height: $height;
  height: max-content;
  margin: 1rem;
}

.example-spacer {
  flex: 1 1 auto;
}

.example--spacer {
  flex: 0.000001;
}

mat-icon {
  vertical-align: center;
}

