<mat-toolbar color="primary">
  <!--  (click)="drawer.toggle() permet de creer le menu de gauche -->
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
    (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <button mat-button routerLink="/admindashboard"><mat-icon>dashboard</mat-icon> Dashboard</button>
  <span class="example-spacer"></span>
  <span class="example--spacer"></span>
  <button mat-button><mat-icon>settings</mat-icon></button>
  <button mat-button translate (click)="changelanguage()">
    <mat-icon>translate</mat-icon>
  </button>
  <button mat-button routerLink="/logout">
    <mat-icon>exit_to_app</mat-icon>
  </button>
</mat-toolbar>

<!-- menu de gauche -->
<mat-drawer-container class="example-container" autosize>
  <mat-drawer
    #drawer
    class="example-sidenav"
    mode="side"
    id="dr"
    style="margin-top: 15px; border-radius: 3px; margin-bottom: 15px">
    <!-- liste des parametres et des choix dans le menu de gauche -->
    <button mat-button style="width: 150px" routerLink="projet">Project</button>

    <button mat-button style="width: 150px" routerLink="product">Products</button>

    <button mat-button style="width: 150px">ASL Candidate</button>
    <button mat-button style="width: 150px" routerLink="test">Test</button>
    <button mat-button style="width: 150px" routerLink="dragdrop">DragDrop</button>

    <!-- fin de liste des parametres et des choix dans le menu de gauche -->
  </mat-drawer>

  <div class="example-sidenav-content">
    <mat-card class="main-content" style="height: 100%">
      <router-outlet> </router-outlet>
      <!-- <p translate>dashboard.title</p> -->
    </mat-card>
  </div>
</mat-drawer-container>
